In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("C:/Users/d3us/Desktop/cursoDataScienceLinkedIn/bd/2008.csv", nrows=1e6)
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [11]:
df2= df.copy()

In [12]:
df2= df2.sample(frac=1)

In [14]:
#eliminando duplicados
df2clean= df2.drop_duplicates()
len(df2clean) == len(df2)

False

In [18]:
texto='{0} -> {1}'.format(len(df2),len(df2clean))
print(texto)

1000000 -> 999996

In [20]:
#borra los valores duplicados de la columna DayofMonth , en este caso me deja una bd con 31 dias o 31 registros
df2clean.drop_duplicates(subset="DayofMonth")

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
204393,2008,1,23,3,2126.0,2125,2220.0,2247,OO,3919,...,3.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
570925,2008,1,21,1,1727.0,1730,2140.0,2142,CO,1676,...,4.0,35.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
48518,2008,1,17,4,2248.0,2110,12.0,2250,WN,275,...,5.0,7.0,0,NaN,0,0.0,0.0,0.0,0.0,82.0
947713,2008,2,14,4,1231.0,1232,1442.0,1438,FL,211,...,5.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
775617,2008,2,7,4,1226.0,1230,1550.0,1548,OO,6416,...,6.0,24.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
488641,2008,1,27,7,1832.0,1835,2150.0,2210,AA,613,...,8.0,45.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
293423,2008,1,30,3,633.0,640,1416.0,1441,US,714,...,5.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
292142,2008,1,29,2,554.0,600,637.0,700,US,2114,...,3.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
830810,2008,2,9,6,1140.0,1100,1436.0,1408,UA,678,...,5.0,15.0,0,NaN,0,28.0,0.0,0.0,0.0,0.0
145935,2008,1,24,4,819.0,825,932.0,942,YV,7271,...,7.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
255274,2008,1,1,2,1729.0,1712,2050.0,2024,UA,1594,...,20.0,13.0,0,NaN,0,14.0,0.0,9.0,0.0,3.0
866446,2008,2,15,5,1514.0,1435,1825.0,1827,US,22,...,3.0,23.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
561007,2008,1,28,1,554.0,600,832.0,850,B6,63,...,4.0,23.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7862,2008,1,5,6,1220.0,1215,1613.0,1605,WN,1167,...,4.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
55234,2008,1,20,7,1520.0,1520,1638.0,1645,WN,1769,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
555901,2008,1,18,5,855.0,905,1020.0,1029,B6,262,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
601202,2008,1,11,5,1150.0,1151,1339.0,1342,DL,1479,...,6.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
735473,2008,2,12,2,1912.0,1440,2013.0,1547,YV,7272,...,7.0,19.0,0,NaN,0,266.0,0.0,0.0,0.0,0.0
852396,2008,2,4,1,1335.0,1304,1929.0,1839,US,612,...,12.0,39.0,0,NaN,0,0.0,0.0,19.0,0.0,31.0
165907,2008,1,26,6,653.0,700,808.0,813,OH,5332,...,2.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
640755,2008,2,13,3,2228.0,2140,2306.0,2225,WN,3343,...,2.0,10.0,0,NaN,0,0.0,0.0,0.0,0.0,41.0
92182,2008,1,31,4,707.0,705,1023.0,1025,WN,3932,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
22285,2008,1,10,4,1601.0,1520,1721.0,1655,WN,700,...,3.0,8.0,0,NaN,0,0.0,0.0,0.0,0.0,26.0
174116,2008,1,3,4,957.0,1002,1335.0,1317,OO,6724,...,7.0,33.0,0,NaN,0,0.0,0.0,0.0,0.0,18.0
919486,2008,2,25,1,NaN,1030,NaN,1130,EV,4484,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
133012,2008,1,6,7,NaN,1129,NaN,1230,YV,7218,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
517850,2008,1,2,3,1346.0,1340,1713.0,1650,AA,1822,...,8.0,17.0,0,NaN,0,6.0,0.0,17.0,0.0,0.0
328578,2008,1,22,2,2049.0,2050,2231.0,2238,EV,4330,...,4.0,22.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
303545,2008,1,16,3,2149.0,2120,2246.0,2225,DL,227,...,17.0,14.0,0,NaN,0,4.0,0.0,0.0,0.0,17.0
777211,2008,2,8,5,2126.0,2125,2253.0,2243,OO,6387,...,6.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
758326,2008,2,19,2,1745.0,1745,2011.0,2014,OH,5022,...,5.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [22]:
#borrar NaN -> usando el parametro thresh le decimos cuantos columnas llenas de las que hay
df2clean.dropna(thresh=len(df2clean.columns)-2)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
48518,2008,1,17,4,2248.0,2110,12.0,2250,WN,275,...,5.0,7.0,0,NaN,0,0.0,0.0,0.0,0.0,82.0
725557,2008,2,21,4,658.0,620,954.0,745,XE,2893,...,14.0,103.0,0,NaN,0,38.0,0.0,91.0,0.0,0.0
834440,2008,2,14,4,1256.0,1245,1512.0,1448,UA,820,...,8.0,20.0,0,NaN,0,0.0,0.0,14.0,0.0,10.0
830810,2008,2,9,6,1140.0,1100,1436.0,1408,UA,678,...,5.0,15.0,0,NaN,0,28.0,0.0,0.0,0.0,0.0
255274,2008,1,1,2,1729.0,1712,2050.0,2024,UA,1594,...,20.0,13.0,0,NaN,0,14.0,0.0,9.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527318,2008,1,8,2,1814.0,1615,2129.0,1840,AA,2360,...,7.0,71.0,0,NaN,0,0.0,0.0,169.0,0.0,0.0
455463,2008,1,27,7,1158.0,935,1314.0,1055,9E,2839,...,4.0,24.0,0,NaN,0,0.0,0.0,0.0,0.0,139.0
180169,2008,1,7,1,1148.0,845,1459.0,1146,OO,6089,...,6.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,193.0
636060,2008,2,12,2,2134.0,2025,2304.0,2135,WN,1503,...,9.0,43.0,0,NaN,0,0.0,49.0,20.0,0.0,20.0
718817,2008,2,3,7,615.0,620,839.0,812,XE,3129,...,16.0,28.0,0,NaN,0,0.0,0.0,27.0,0.0,0.0

In [23]:
df3= df.copy()
df3.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [24]:
#encontrando nan o none
df3.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1000000.0,1000000.000000,1000000.000000,1000000.000000,967867.000000,1000000.000000,965361.000000,1000000.00000,1000000.000000,965361.000000,...,1000000.000000,965361.000000,967867.000000,1000000.000000,1000000.000000,254596.000000,254596.000000,254596.000000,254596.000000,254596.000000
mean,2008.0,1.394235,15.747464,3.892376,1343.509122,1331.532651,1488.280244,1496.73463,2362.058875,124.223677,...,689.357239,6.735420,16.547636,0.032133,0.002506,15.577016,3.294734,15.780924,0.086349,22.316666
std,0.0,0.488686,8.744822,1.937062,477.025267,462.516216,503.205941,479.65935,1991.838015,68.131336,...,539.061638,4.854325,11.039893,0.176353,0.049997,38.233413,20.312632,31.508781,1.751192,39.846905
min,2008.0,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.00000,1.000000,15.000000,...,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.0,1.000000,8.000000,2.000000,936.000000,930.000000,1113.000000,1118.00000,670.000000,76.000000,...,312.000000,4.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2008.0,1.000000,16.000000,4.000000,1333.000000,1325.000000,1517.000000,1518.00000,1674.000000,107.000000,...,544.000000,6.000000,14.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000
75%,2008.0,2.000000,23.000000,5.000000,1734.000000,1720.000000,1912.000000,1907.00000,3818.000000,152.000000,...,895.000000,8.000000,20.000000,0.000000,0.000000,16.000000,0.000000,19.000000,0.000000,29.000000
max,2008.0,2.000000,31.000000,7.000000,2400.000000,2359.000000,2400.000000,2400.00000,9202.000000,693.000000,...,4962.000000,213.000000,383.000000,1.000000,1.000000,1351.000000,1049.000000,1357.000000,149.000000,897.000000

In [35]:
pd.isnull(df3['DepTime']).values.ravel().sum() # con values construimos una lista y con sum me suma los trues , es decir los valores nan

32133

In [ ]:
##borrado de valores q faltan 
df3.dropna(axis=0, how="all") # borra toda la fila donde hay nan con how="all" si todas sus columnas estan NaN
df3.dropna(axis=1) #borra toda la columna donde hay nan

In [36]:
#imputacion o computo de los valores faltantes
df3.fillna(0) #rellena los nan con 0

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,0,0,0.0,0.0,0.0,0.0,0.0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,0,0,0.0,0.0,0.0,0.0,0.0
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,0,0,0.0,0.0,0.0,0.0,0.0
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,0,0,0.0,0.0,0.0,0.0,0.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,0,0,2.0,0.0,0.0,0.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2008,2,12,2,1648.0,1655,1959.0,2005,MQ,4695,...,4.0,8.0,0,0,0,0.0,0.0,0.0,0.0,0.0
999996,2008,2,13,3,1647.0,1655,2013.0,2005,MQ,4695,...,6.0,16.0,0,0,0,0.0,0.0,0.0,0.0,0.0
999997,2008,2,14,4,1653.0,1655,2000.0,2005,MQ,4695,...,3.0,10.0,0,0,0,0.0,0.0,0.0,0.0,0.0
999998,2008,2,15,5,1650.0,1655,1951.0,2005,MQ,4695,...,4.0,10.0,0,0,0,0.0,0.0,0.0,0.0,0.0
999999,2008,2,17,7,0.0,1655,0.0,2005,MQ,4695,...,0.0,0.0,1,B,0,0.0,0.0,0.0,0.0,0.0

In [37]:
#imputacion por la media , promedio o mediana
df4= df.copy()

In [38]:
pd.isnull(df4['ArrTime']).values.ravel().sum()

34639

In [41]:
df4['ArrTime']=df4['ArrTime'].fillna(df4['ArrTime'].mean()) #usando el promedio para llenar valores NaN
df4

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.000000,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.000000,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.000000,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.000000,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.000000,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2008,2,12,2,1648.0,1655,1959.000000,2005,MQ,4695,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999996,2008,2,13,3,1647.0,1655,2013.000000,2005,MQ,4695,...,6.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999997,2008,2,14,4,1653.0,1655,2000.000000,2005,MQ,4695,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999998,2008,2,15,5,1650.0,1655,1951.000000,2005,MQ,4695,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999999,2008,2,17,7,NaN,1655,1488.280244,2005,MQ,4695,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN

In [42]:
df4.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,1000000.0,1000000.000000,1000000.000000,1000000.000000,967867.000000,1000000.000000,1000000.000000,1000000.00000,1000000.000000,965361.000000,...,1000000.000000,965361.000000,967867.000000,1000000.000000,1000000.000000,254596.000000,254596.000000,254596.000000,254596.000000,254596.000000
mean,2008.0,1.394235,15.747464,3.892376,1343.509122,1331.532651,1488.280244,1496.73463,2362.058875,124.223677,...,689.357239,6.735420,16.547636,0.032133,0.002506,15.577016,3.294734,15.780924,0.086349,22.316666
std,0.0,0.488686,8.744822,1.937062,477.025267,462.516216,494.413848,479.65935,1991.838015,68.131336,...,539.061638,4.854325,11.039893,0.176353,0.049997,38.233413,20.312632,31.508781,1.751192,39.846905
min,2008.0,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.00000,1.000000,15.000000,...,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.0,1.000000,8.000000,2.000000,936.000000,930.000000,1122.000000,1118.00000,670.000000,76.000000,...,312.000000,4.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2008.0,1.000000,16.000000,4.000000,1333.000000,1325.000000,1488.280244,1518.00000,1674.000000,107.000000,...,544.000000,6.000000,14.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000
75%,2008.0,2.000000,23.000000,5.000000,1734.000000,1720.000000,1903.000000,1907.00000,3818.000000,152.000000,...,895.000000,8.000000,20.000000,0.000000,0.000000,16.000000,0.000000,19.000000,0.000000,29.000000
max,2008.0,2.000000,31.000000,7.000000,2400.000000,2359.000000,2400.000000,2400.00000,9202.000000,693.000000,...,4962.000000,213.000000,383.000000,1.000000,1.000000,1351.000000,1049.000000,1357.000000,149.000000,897.000000

In [57]:
#usando forward fill
df5= df.copy()
df5['TaxiIn'][999999]

nan

In [ ]:
df5['TaxiIn']